<p id="experience" class = 'dummy'></p>

<p class = 'section_divider'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspExperience&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
<!-- ---------- -->
<!-- Trilogy Education -->
<!-- ---------- -->
<p id ='trilogy_ed' class = 'dummy'></p>
<div class="row">
  <div class="col-md-1">
    <a href = 'https://www.trilogyed.com/'>
      <img width = '90px'  src="/static/trilogy.png" >
    </div>
    <div class="col-md-11">
      <!-- Job Description Header -->
      <p>
        <font style = 'font-size: 25px; font-weight: bold;'>Trilogy Education Services</font><br>
      </a>
      <i>2019 till Present</i><br>
      Senior Remote Tutor<br><font size = '3'>Remote</font></p>
      <!-- END Job Description Header -->

      <p>
        <li class = 'job_bullets'>Online/Remote tutoring students from several University coding boot camps across the U.S. in Data Visualization
           and Web Development skills covering advanced Excel & VBA, Python, NumPy, Pandas,  HTML/CSS, Bootstrap, React, Flask, Selenium, Matplotlib,
            MySQL, MongoDB, JavaScript, D3.js, Tableau, Spark, Scikit-Learn & R</li>
        <li class = 'job_bullets'> Schedule appointments with students to further develop a unique, custom-tailored, tutoring experience for each student throughout program durations</li>
      </p>
    </div>
  </div>
  <!-- -------- -->
  <!-- END Trilogy Education -->
  <!-- ---------- -->

  <!-- ---------- -->
  <!-- ZEN TUNING -->
  <!-- ---------- -->
  <p id ='zen_tuning' class = 'dummy'></p>
  <div class="row">
    <div class="col-md-1">
      <a href = 'https://ZenTuning.com'>


        <img href = 'https://ZenTuning.com' width = '90px' alt="Zen Tuning LLC" src="/static/zen_tuning.jpg" >
      </div>
      <div class="col-md-11">
        <!-- Job Description Header -->
        <p>
          <font style = 'font-size: 25px; font-weight: bold;'>Zen Tuning</font><br>
        </a>
        <i>2018 till Present</i><br>
        IT & Web Development<br><font size = '3'>Remote</font></p>
        <!-- END Job Description Header -->
        <!-- Job Description Header -<link rel="shortcut icon" href=".ico">-
        <p><font style = 'font-size: 25px; font-weight: bold;'>Zen Tuning</font><br>
      </a>
      <i>2018 till Present</i><br>
      Junior Robotics Engineer & Shopify Web Developer<br><font size = '3'>San Diego, CA</font></p>
      <!-- END Job Description Header -->

      <p>
        <li class = 'job_bullets'>Design, documentation with Fritzing, assist in the build and assembly of Arduino based TIG weld bot using C++ and Python</li>
        <li class = 'job_bullets'>Assist engineers in the design of high performance automotive parts</li>
        <li class = 'job_bullets'>Design of User Interface through Liquid template language and CSS</li>
        <li class = 'job_bullets'>Implementation of Search Engine Optimization through Google Analytics to achieve an increase in organic search conversions</li>
      </p>
    </div>
  </div>
  <!-- -------- -->
  <!-- END ZEN TUNING -->
  <!-- ---------- -->

  <!-- ---------- -->
  <!-- Cruise Automation -->
  <!-- ---------- -->
  <p id = 'cruise_automation' class = 'dummy'></p>
  <div class="row">
    <div class="col-md-1">
      <a href = 'https://getcruise.com/'>
      <img width = '110px' alt="Cruise Automation" src="/static/Cruise.png">
    </div>
    <div class="col-md-11">
      <!-- Job Description Header -->
      <p>
        <font style = 'font-size: 25px; font-weight: bold;'>Cruise Automation through Aerotek</font><font style = 'font-size: 15px;'> (a General Motors Company)</font><br>
        </a>
        <i>2017 to 2018</i><br>
        R&D Autonomous Vehicle Trainer<br><font size = '3'>San Francisco, CA</font></p>
        <!-- END Job Description Header -->

        <li class = 'job_bullets'>Increased testing efficiency by designing and creating various tools to help streamline testing</li>
        <li class = 'job_bullets'>Analyzed, debugged, monitored, and datalogged vehicle’s technical difficulties while driving both autonomously and manually</li>
        <li class = 'job_bullets'>Assisted with ensuring that training curriculum was up to date with industry safety standards</li>
        <li class = 'job_bullets'>Trained Autonomous Vehicle Trainees on current software and autonomous vehicle operation</li>
        <li  class = 'job_bullets'>Compiled detailed reports providing feedback based on vehicle behavior</li>
      </p>

    </div>
  </div>
  <!-- -------- -->
  <!-- END CRUISE AUTOMATION -->
  <!-- ---------- -->


  <!-- ---------- -->
  <!-- Google -->
  <!-- ---------- -->
  <p id = 'google' class = 'dummy'></p>
  <div class="row">
    <div class="col-md-1">
      <a href = 'www.google.com'>
      <img width = '90px' alt="Google" src="/static/Google.png">
    </div>
    <div class="col-md-11">
      <!-- Job Description Header -->
      <p>
        <font style = 'font-size: 25px; font-weight: bold;'>Google through BC Forward</font><br>
        </a>
        <i>2016 to 2017</i><br>
        Data integrity Specialist<br><font size = '3'>Mountain View, CA</font></p>
        <!-- END Job Description Header -->
        <li class = 'job_bullets'>Aided in adding processes to the content review process which enabled analysts to exceed required metrics, increasing efficiency by 20+ %</li>
        <li class = 'job_bullets'>Developed an interactive work schedule web application using the Shiny library for R</li>
        <li class = 'job_bullets'>Performed a wide variety of application policy reviews for the client's production line; including QA support, quick turnaround reviews, and critical thinking</li>
        <li class = 'job_bullets'>Took action on non-compliant products to ensure optimal quality in order to protect Google's reputation</li>
      </p>

    </div>
  </div>
  <!-- -------- -->
  <!-- END Google -->
  <!-- ---------- -->


  <!-- ---------- -->
  <!-- YMCA -->
  <!-- ---------- -->
  <p id = 'ymca' class = 'dummy'></p>
  <div class="row">
    <div class="col-md-1">
      <a href = 'https://www.ymca.org/'>
      <img width = '90px' alt="YMCA" src="/static/ymca.png">
    </div>
    <div class="col-md-11">
      <!-- Job Description Header -->
      <p>
        <font style = 'font-size: 25px; font-weight: bold;'>YMCA of San Diego</font><br>
        </a>
        <i>2015 to 2015</i><br>
        Afterschool Mentor<br><font size = '3'>San Diego, CA</font></p>
        <!-- END Job Description Header -->

        <li class = 'job_bullets'>Mentored middle school students with homework in fields such as math, reading, and history</li>
        <li class = 'job_bullets'>Generated interest in computer hardware, software, and other computer related technologies</li>
        <li class = 'job_bullets'>Introduced students to basic programming languages, structures, and ideas through Code.Org  and the use of a Raspberry Pi 2</li>
      </p>

    </div>
  </div>
  <!-- -------- -->
  <!-- END YMCA -->
  <!-- ---------- -->
