<div class="col-md-1">


	<!-- Side Navbar -->


	<nav id="myScrollspy" class="navbar d-none d-lg-block d-print-block">
		<ul class="nav nav-pills flex-column">
			<!-- ---------- ABOUT SIDEBAR ---------- -->
				<li class="nav-item"><a class = 'nav-link active main_bullit' href="#about">About</a></li>
				<!-- SUB -->
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#professional_background">Professional Background</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#personal_background">Personal Background</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#programs_and_tools">Languages and Tools</a></li>

				<!-- ---------- PROJECTS SIDEBAR ---------- -->
				<li class="nav-item"><a class = 'nav-link main_bullit' href="#projects">Projects</a></li>


				<!-- ---------- EXPERIENCE SIDEBAR ---------- -->
				<li class="nav-item"><a class = 'nav-link main_bullit' href="#experience">Experience</a></li>
				<!-- SUB -->
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#zen_tuning">Zen Tuning</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#cruise_automation">Cruise Automation</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#google">Google</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#ymca">YMCA</a></li>
	      <li class="nav-item"><a class = 'nav-link main_bullit' href="#contact_card">Contact Info</a></li>

	    </ul>
	  </nav>
  <!-- END OF SIDEBAR  -->
</div>
