<div class="col-md-1 d-sm-none d-xl-block d-print-block">
	<!-- Site Navbar -->

	<nav id="myScrollspy" class="navbar d-none d-lg-block d-print-block">
		<ul class="nav nav-pills flex-column">
			<!-- ---------- ABOUT ---------- -->
				<li class="nav-item"><a class = 'nav-link active main_bullit' href="#professional_background">About</a></li><!-- * switched links to quickly solve padding issue  -->
				<!-- SUB -->
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#about">Professional Background</a></li><!-- * switched links to quickly solve padding issue  -->
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#personal_background">Personal Background</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#programs_and_tools">Languages and Tools</a></li>

				<!-- ---------- PROJECTS ---------- -->
				<li class="nav-item"><a class = 'nav-link main_bullit' href="#projects">Projects</a></li>

				<!-- ---------- EXPERIENCE ---------- -->
				<li class="nav-item"><a class = 'nav-link main_bullit' href="#experience">Experience</a></li>
				<!-- SUB -->
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#tusimple">TuSimple</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#zen_tuning">Zen Tuning</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#cruise_automation">Cruise Automation</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#google">Google</a></li>
				<li class="nav-item"><a class = 'nav-link sub_bullit' href="#ymca">YMCA</a></li>

				<!-- ---------- Volunter ---------- -->
				<li class="nav-item"><a class = 'nav-link active main_bullit' href="#volunteer_experience">Volunteer Experience</a></li>

				<!-- ---------- Education ---------- -->
				<li class="nav-item"><a class = 'nav-link main_bullit' href="#edu">Education</a></li>

				<!-- ---------- Contact ---------- -->
				<li class="nav-item"><a class = 'nav-link main_bullit' href="#contact_card">Contact Info</a></li>

	    </ul>
	  </nav>
  <!-- END OF SIDEBAR  -->
</div>
