{% extends "skeleton.html" %}
{% include 'interests_navbar.html' %}


{% block Content %}
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container-fluid">


    <div class="row" id = 'personal_health' style="padding-top: 60px;">
      <div class="col-8">
        <h4>Personal Health</h4>
        <p class="text-black-50 mb-0">I have run many miles throughout my life, but never really got into time trials. When I lived in Korea, I would sometimes run for up to four hours at a time. In 2017 I moved to San Francisco and ran multiple 5k & 10k timed runs with no real goal in mind. I quickly found myself enjoying the friendly yet competitive nature of running in groups. Since then I have set my sites on running sub 6 minute miles in a 10k run. Halfway through the season, I clocked a 6:58 per mile on a 5k, but shortly after that I stepped on a nail while helping a friend do some yard work. More recently, I have been slowly gathering resources and rehabilitating myself in the hope of one day running in a marathon. Till then I have been sustaining my cardiovascular fitness through distance swimming and road biking.
        </p>
      </div>
      <div class="col-4"><img src="/static/run.png" class="img-fluid" width = '800px'>
      </div>
    </div>

        <br>
        <br>
        <br>
        <br>
        <hr class="m-0">

    <div class="row" id = 'worm_farm' style="padding-top: 80px;">
      <div class="col-8">  <h4>Worm Farm</h4>
        <p class="text-black-50 mb-0">I started a worm farm after moving into my deceased grandparents’ house. There is a backyard with trees and plants that bear fruit that do not ripen due to the malnourished soil. I started a Red Wiggler Worm Farm with a population of 300 with the idea of growing a colony of 10,000+ worms. The main purpose of this is to harvest the nutrient-rich soil consisting of worm waste, which includes beneficial fungi and bacteria. This will help rehabilitate the garden back to what it once was.
        </p>
      </div>
      <div class="col-4"><img src="/static/worm_bin.jpg" class="img-fluid" width = '800px' alt = 'My Worm Farm'>
      </div>
    </div>




    <br>
    <br>
    <br>
    <br>
    <hr class="m-0">


    <div class="row" id = 'project_car' style="padding-top: 80px; padding-bottom: 140px;">
      <div class="col-8">
        <h4>Project Car</h4>
          <p class="text-black-50 mb-0">
            I have always have had a passion for Automobiles. I have owned my 2006 Mazdaspeed 6 for over 12 years. It has slowly evolved with my taste thanks to some great friends who often help me wrench, tune, maintain, and modify parts. Thanks to the people I have met in my life, I have worked on numerous cars throughout the years, such as Nissan GTRs, Porsche 944s, and Acura Integras.

            I am currently a part of <a href = 'https://zentuning.com/'>Zen Tuning</a> as a web designer and co-engineer for various products. Zen Tuning designs race-inspired, quality, high-performance parts at an affordable price.
          </p>
        </div>
        <div class="col-4">
          <a href = 'https://zentuning.com/'>
          <img src="/static/zen_tuning.png" class="img-fluid" width = '800px' alt = 'Zen Tuning'>
          <img src="/static/car.JPG" class="img-fluid" width = '800px' alt = 'My Car'>
        </a>
        </div>
      </div>
    </div>

</section>


{% endblock %}
