<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button type="button" id="sidebarCollapse" class="btn btn-secondary mr-8">
    <i class="fas fa-align-left"></i>
    <span>Site Navi</span>
  </button>

  <a class="btn btn-primary ml-4" href="#" role="button" href="#main">
    <span>T.O.P.</span>
    <i class="fas fa-arrow-up"></i>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span>Page Navi</span>
    <i class="fas fa-align-right"></i>
  </button>



  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link data-scroll" href="#project_car">Project Car</a>
      </li>

      <li class="nav-item">
        <a class="nav-link data-scroll" href="#personal_health">Personal Health</a>
      </li>

      <li class="nav-item">
        <a class="nav-link data-scroll" href="#worm_farm">Worm Farm</a>
      </li>


      <li class="nav-item">
        <a class="nav-link data-scroll"  href="#contact">Contact Info</a>
      </li>

    </ul>
  </div>
</nav>
