<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id= 'navbar'>
	{% if request.path == '/index.html' %}
		<a class="navbar-brand" href="#"><strong>Welcome to the Homepage</strong></a>

	{% elif request.path == '/city_data.html' %}
		<a class="navbar-brand" href="#"><strong>City Data</strong></a>

	{% elif request.path == '/cloudiness.html' %}
		<a class="navbar-brand" href="#"><strong>Cloudiness VS Latitude</strong></a>

	{% elif request.path == '/humidity.html' %}
		<a class="navbar-brand" href="#"><strong>Humidity VS Latitude</strong></a>

	{% elif request.path == '/temperature.html' %}
		<a class="navbar-brand" href="#"><strong>Temperature VS Latitude</strong></a>

	{% else %}
		<a class="navbar-brand" href="#"><strong><img src="/static/cfr_logo3.png" class="img-fluid" width = '50px' alt = 'logo'></strong></a>

	{% endif %}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"
		></span>
	</button>

	<div id="navbarNavDropdown" class="navbar-collapse collapse mr-auto">
		<ul class="navbar-nav mr-auto">
		</ul>
		<ul class="navbar-nav">

			<li class="nav-item">
				<a class="nav-link" href="/"><strong>Home</strong></a>
			</li>

      <!-- Personal Website Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Personal Sites</strong>
				</a>

				<div class="dropdown-menu" aria-labelledby="navbarDropdown">

					<a class="dropdown-item" href="https://www.linkedin.com/in/cfrichardson"><strong><i class="fab fa-linkedin"></i>  LinkedIn</strong></a>

					<a class="dropdown-item" href="https://github.com/cfrichardson1">
            <strong><i class="fab fa-github"></i> Github Repo</strong>
          </a>
				</div>
			</li>
			<!-- END Personal Website Dropdown -->

			<!-- Portfolio Dropdown -->

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Projects</strong>
				</a>

				<div class="dropdown-menu" aria-labelledby="navbarDropdown">

					<a class="dropdown-item" href="https://cfrichardson1.github.io/Weather_EDA_Flask_App/"><strong><center>Weather Data Engineering & EDA<br> w/ Python</strong></center></a>

					<a class="dropdown-item" href="https://cfrichardson1.github.io/lotto_eda/">
            <strong><center>Cali Lotto Data Engineering & EDA <br>w/ R</center></strong>
          </a>

					<a class="dropdown-item" href="/old_gui_landing">
						<strong><center>Previous Website Gui</center></strong>
					</a>
				</div>
			</li>
			<!-- END Portfolio Dropdown -->

			<li class="nav-item">
				<a class="nav-link" href="/interests.html"><strong>Interest</strong></a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="city_data.html"><strong>Contact</strong></a>
			</li>

		</ul>
	</div>
</nav>
