<style>
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


p {
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.1em; */
    font-weight: 300;
    line-height: 1.7em;
}

a, a:focus {
    color: inherit;
    transition: all 0.3s;
}

#project_car a, a:focus {
    color: inherit;
    text-decoration: underline;
    transition: all 0.3s;
}
#project_car a:hover {
  color: blue;
  font-weight: bold;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    /* position: absolute; */
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

body {
  position: relative;
}

/* ---------------------------------------------------
    EXPERIMENT
----------------------------------------------------- */

section.resume-section {
padding-top: 5rem !important;
padding-bottom: 5rem !important;
}

#experience span {
font-weight: bold;
}

section.resume-section .resume-item .resume-date {
min-width: none;
}

#contact {
  padding-top: 100px;
  padding-bottom: 120px;
}
/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    padding: 5px 5px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    min-height:32px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#navbarNavDropdown {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

#navbarNavDropdown a.active {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  color: #bbd2f7;
}

/* ---------------------------------------------------
    ** SIDEBAR STYLE **
----------------------------------------------------- */

/*  toggle button style */
#sidebar_toggle{
  color: #99ccff;
  font-weight: bold;
  float: left;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

/* ---------------------------------------------------
    EXPANDED SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    font-family: 'Poppins';
    font-size: 20px
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

/*  glyphicons are controlled by li */
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color: #00ccff;
    background: #fff;
}

/* ---------------------------------------------------
    Sidebar Active Style
----------------------------------------------------- */

#sidebar.active {
    min-width: 120px;
    max-width: 120px;
}

#sidebar.active ul li a i {
  padding: 20px 5px;
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
  text-align: center;
}

.active a[aria-expanded="false"]::before,
.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

/* ---------------------------------------------------
    Sidebar Sub Menus
----------------------------------------------------- */

#sitesSubmenu {
  background: #aec2e2
}

#projectSubmenu {
  background: #aec2e2
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    #sidebar {
        min-width: 120px;
        max-width: 120px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
        font-size: 0.85em;

          margin-right:  0;
        display: block;
    }


    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar_toggle{
      color: #99ccff;
      font-weight: bold;
      float: left;
    }

}

</style>
