<!--  NOTE: TEST PILOT -->
<p id="projects" class = 'dummy'></p>

<p class = 'section_divider'>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspProjects&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</p>

<!-- PROJECT HEADERS  -->
<div class = "row">
  <div class ="col-6">
  <p class = 'project-type'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Python Based &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
  </div>
  <div class ="col-6">
    <p class = 'project-type'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp R Based &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
  </div>
</div>

<div class="row">

  <!--  PYTHON BASED PROJECT -->

  <div class="col-3">
    <div class="card">
      <img class="card-img-top" src="/static/Weather_Flask.PNG">
      <div class="card-body">
        <h5 class="card-title">Weather EDA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <img class="card-img-top" src="/static/py_schools.PNG">
      <div class="card-body">
        <h5 class="card-title">School Comparison</h5>
        <p class="card-text">Exploratory Data Analysis of a District's performance in two different types of schools: </p>
      </div>
    </div>
  </div>

  <!--  R BASED PROJECT -->
  <div class="col-3">
    <div class="card">
      <img class="card-img-top" src="/static/Shiny.PNG">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <img class="card-img-top" src="/static/lotto_page.PNG">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

</div>
</div>
