
			<!-- Projects & EDAs Dropdown -->
			<li id = 'right_dropdown' class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div id = 'right_dropdown' class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a id = 'navbar' class="dropdown-item" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Python Based &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>

					<a class="dropdown-item" href="https://cfrichardson.info/Weather_EDA_webpage/">
						Weather EDA &<br> Data Engineering
					</a>

					<a class="dropdown-item" href="/PyCitySchools_EDA.html">
Imaginary School District EDA</a>

					<a id = 'navbar' class="dropdown-item" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp R/Shiny Based App &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>

					<a target="_blank" class="dropdown-item" href="https://cfrichardson1.shinyapps.io/july_scheduler_demo/">
						Interactive Schedule App
					</a>

					<a class="dropdown-item" href="http://cfrichardson.info/lotto_eda_Website/">
Cali Lotto Data <br>Engineering & EDA</a>
				 </div>
      </li>
