<p id="volunteer_experience" class = 'dummy'></p>

<p class = 'section_divider'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspVolunteer_Experience&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
<!-- ---------- -->
<!-- C2K Education -->
<!-- ---------- -->
<p id ='C2k' class = 'dummy'></p>
<div class="row">
  <div class="col-md-1">
    <a href = 'https://www.c2sdk.org/'>
      <img width = '90px'  src="/static/C2kids.png">
    </div>
    <div class="col-md-11">
      <!-- Job Description Header -->
      <p>
        <font style = 'font-size: 25px; font-weight: bold;'>Computers 2 Kids</font><br>
      </a>
      <i>2019 till Present</i><br>
      Refurbish Tech, Tech Mentor, & Volunteer Staff<br><font size = '3'>San Diego</font></p>
      <!-- END Job Description Header -->

      <p>
        <li class = 'job_bullets'>Responsible for post processing, which includes reconfiguration of refurbished computer hardware, installation of partner anti-virus/spam/phishing software</li>
        <li class = 'job_bullets'>Assist in the process of handing out low-cost laptops, desktops, and tablets to those without sufficient resources for a new device</li>
      </p>
    </div>
  </div>
  <!-- -------- -->
  <!-- END Trilogy Education -->
  <!-- ---------- -->
