<p id="edu" class = 'dummy'></p>

<p class = 'section_divider'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEducation&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
<!-- ---------- -->
<!-- TuSimple -->
<!-- ---------- -->
<p id ='tusimple' class = 'dummy'></p>
<div class="row">
  <div class="col-md-1">
    <a href = 'https://www.thinkful.com/'>
      <img width = '90px'  src="/static/thinkful.jpg" >
    </div>
    <div class="col-md-11">
      <!-- Job Description Header -->
      <p>
        <font style = 'font-size: 22px; font-weight: bold;'>Thinkful</font><br>
      </a>
      <i>Graduating in Dec</i><br>
      Cert in Data Science<br></font></p>
      <!-- END Job Description Header -->
      <p>
        <li class = 'job_bullets'>Currently studying the applications of supervised, unsurpervised, semi-supervised, and reinforcement methodologies</li>
      </p>
    </div>
  </div>
  <!-- -------- -->
  <!-- END Tusimple Inc. -->
  <!-- ---------- -->
