<!--  NOTE: TEST PILOT -->
<p id="projects" class = 'dummy'></p>

<p class = 'section_divider'>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspProjects&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</p>

<!-- PROJECT HEADERS  -->
<div class = "row">
  <div class ="col-6">
    <p class = 'project-type'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Python Based &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
  </div>
  <div class ="col-6">
    <p class = 'project-type'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp R Based &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
  </div>
</div>

<div class="row">

  <!--  PYTHON BASED PROJECT -->

  <div class="col-3">
    <a href="https://cfrichardson.info/Weather_EDA_webpage/">
      <div class="card" >
        <img class="card-img-top" src="/static/Weather_Flask.PNG" >
        <div class="card-body">
          <h5 class="card-title">Weather EDA</h5>
          <p class="card-text">EDA that explores a ctiy's  explores a city's equator in relationship to variables such as temperature, cloudiness, humidity, and wind speed</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-3">
    <a href="/PyCitySchools_EDA.html">

      <div class="card">
        <img class="card-img-top" src="/static/py_schools.PNG">
        <div class="card-body">
          <h5 class="card-title">School Comparison</h5>
          <p class="card-text">Exploratory Data Analysis of a District's performance in two different types of schools: </p>
        </div>
      </div>
    </a>
  </div>

  <!--  R BASED PROJECT -->
  <div class="col-3">
    <a href="https://cfrichardson1.shinyapps.io/july_scheduler_demo/">
      <div class="card">
        <img class="card-img-top" src="/static/Shiny.PNG">
        <div class="card-body">
          <h5 class="card-title">Shiny Schedule App</h5>
          <p class="card-text">A scheduling application that allows users to view team schedules allowing for easy shift swaps.<p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-3">
      <a href="http://cfrichardson.info/lotto_eda_Website/">

        <div class="card">
          <img class="card-img-top" src="/static/lotto_page.PNG">
          <div class="card-body">
            <h5 class="card-title">Lotto EDA</h5>
            <p class="card-text">A quick lotto EDA that shows the process of cleaning and certain trends found by creating new variables based on given data by the state</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
