<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  body {
    position: relative;
    font-size: 17px;
    padding-bottom: 18px;
  }

  #builtwith {
    font-size: 20;
    font-weight: bold;
    align-items: center;
    padding-left: 110px;
  }

  .col-1 {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    padding-top: 40px;
    padding-left: 140px;
    padding-right: 0px;
  }
  .col-6 {
    padding-left: 20px;
  }
  .col-md-11 {
    padding-left: 30px
  }

  hr {
      border: none;
      height: 1px;
      background-color: #333; /* Modern Browsers */
  }


  .name {
    font-size: 40px;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;

  }

  div.row {
    padding-top: 18px;
  }

  li.job_bullets {
    font-size: 17px;
  }

  #main_content {
    padding-top: 50px;
  }

  p.card-text {
    font-size: 17px;
  }

  p.content, li.bullets{
    font-size: 19px;
  }

  /* Dummy Sections */
  p.dummy {
    height: 40px;
  }

  p.job_title {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 0px;
  }

  p.ruling_divider {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    weight: bold;
    /* text-align: center; */
  }

  p.strong {
    font-size: 22px;
    font-weight: bold;
  }



  h2 {
    font-family: 'Impact', Charcoal, sans-serif;
  }
  h3 {
    font-family: '"Trebuchet MS', Charcoal, sans-serif;
  }

  .subheading mb-3 {
    padding-top: 0;
  }

  #contact_card {
    padding-top: 100px;
    padding-bottom: 100px;
  }


  .card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }


  /* ------------------------------------------------ */
    /* NAVBAR */
  /* ------------------------------------------------ */

    a.nav-link {
      font-weight: bold;
      color: white;
    }

    a.nav-color {
      font-weight: bold;
    }

    a.dropdown-bullet {
      font-size: 20px;
      padding-left: 10px;

    }

    a.dropdown-item {
      font-size: 20px;
      font-weight: bold;
    }

    a.dropdown-toggle {
      color: white;
      font-weight: bold;
      font-size: 19px;
      font-style: 'New Century Schoolbook', TeX Gyre Schola, serif;
    }

    #header {
      font-size: 20px;
      text-align: center;
      text-decoration: underline overline;
    }
/*
    #right_dropdown {
      left: 30px;
    } */

    }

    #nav_buttons {
      padding-right: 50px;
    }


  /* ------------------------------------------------ */
  /* NAVBAR END */
  /* ------------------------------------------------ */


/* ------------------------------------------------ */
  /* SIDEBAR */
/* ------------------------------------------------ */

  #myScrollspy {
    padding-left: 5px;
    top: 300px;
    z-index: 9999 !important;
  }

  ul.nav-pills {
    position: fixed;
  }

  a.main_bullit {
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  a.sub_bullit {
    margin-left: 30px;
    font-size: 15px;
    color: black;

  }

/* ------------------------------------------------ */
  /* SIDEBAR END */
/* ------------------------------------------------ */



  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
      margin-left: 150px;
    }
  }




  </style>
